/* body { 
     background-color: rgb(176, 128, 240); 
    color: brown; 
    font-size: 21px;
    font-family:"Times New Roman", sans-serif;
    
}

a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
*/